{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | Pulsenetio</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image" />
    <script defer src="{% static 'js/script.js' %}"></script>
  </head>
  <body class="light">
    <main class="signup">
      <section class="form-section">
        <div class="form-wrapper">
          <form action="" method="POST">
            <div class="error-message">
              {% for message in messages %}
              <style>
                h5 {
                  color: red;
                }
              </style>
              <h5>{{message}}</h5>
              {% endfor %}
            </div>
            {% csrf_token %}
            <div class="form-title">
              <h1>Register</h1>
            </div>
            <div class="form-control">
              <i class="bi bi-person"></i>
              <input type="text" spellcheck="false" pattern="[a-z_]*" name="username" placeholder="Username" required />
            </div>
            <div class="form-control">
              <i class="bi bi-envelope"></i>
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-control">
              <i class="bi bi-phone"></i>
              <input type="tel" name="phone" placeholder="Phone Number" />
            </div>
            <div class="form-control">
              <i class="bi bi-lock"></i>
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="form-control">
              <i class="bi bi-lock"></i>
              <input type="password" name="password2" placeholder="Confirm Password" required />
            </div>
            <p>
              Already have an account?
              <a href="/login" title="Login Page">Go to Login</a>
            </p>
            <div class="submit">
              <button type="submit">REGISTER</button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>